

<mat-slide-toggle
class="example-margin"
[(ngModel)]="coutActive">
Calculer les coûts
</mat-slide-toggle>

<mat-card *ngIf="ficheTechnique$ | async as ficheTechnique " id="container">



  <mat-card-title>Fiche technique {{ficheTechnique.intitule}}</mat-card-title>
  <mat-card-subtitle>Responsable : {{ficheTechnique.responsable}}</mat-card-subtitle>
  <mat-card-subtitle>Nombre de couverts : {{ficheTechnique.nbCouvert}}</mat-card-subtitle>


  <mat-divider></mat-divider>

  <!-- Recursivité étapes -->
  <mat-card-content>
    <ol>
      <ng-template #recursiveList let-list>
      <li *ngFor="let prog of list">
        <ng-container *ngIf="prog.progression">Réaliser {{prog.intitule}}</ng-container>
        <ng-container *ngIf="!prog.progression">Titre étape : {{ prog.titreEtape }} / Ingrédients : <ng-container *ngFor="let ingredient of prog.ingredients">{{ingredient.ingredient.LIBELLE}} : {{ingredient.quantite}}</ng-container></ng-container>
        <ol *ngIf="prog.progression" >
          
          <ng-container *ngTemplateOutlet="recursiveList; context:{$implicit: prog.progression}"></ng-container>
        </ol>
        
      </li>
      </ng-template>
      <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: ficheTechnique.progression }"></ng-container>
    </ol>
  </mat-card-content>

  <mat-divider></mat-divider>

  <mat-card-content *ngIf="coutActive">
    Coût de la matière : {{ coutMatiere|  currency:'EUR':'symbol'}}<br>
    <div *ngIf="coutCharge !== undefined">
      Coût des charges : {{ coutCharge |  currency:'EUR':'symbol'}}<br>
    </div>
    Coût de production : {{ (coutMatiere ) |  currency:'EUR':'symbol' }} <br>
    Coût de production par portion : {{ (coutMatiere ) / ficheTechnique.nbCouvert |  currency:'EUR':'symbol'}}<br>
    Prix de vente : {{ prixVente | currency:'EUR':'symbol'}} <br>
    Prix de vente par portion : {{ (prixVente) / ficheTechnique.nbCouvert | currency:'EUR':'symbol'}} <br>
    Seuil de rentabilité : {{ seuilRentabilite }} portions <br>
    Benefice : {{ benefice | currency:'EUR':'symbol'  }} <br>
    Benefice par portion : {{ benefice / ficheTechnique.nbCouvert | currency:'EUR':'symbol'}}
  </mat-card-content>

  <mat-card-actions>
    <button mat-button [routerLink]="['./modify']">Modifier</button>
    <button mat-button (click)="delete()">Supprimer</button>
    <button mat-button (click)="openDialog()">Générer des étiquettes</button>
  </mat-card-actions>
</mat-card>

<div class="col-md-4 text-right">
  <button class="btn btn-success btn-block" (click)="openPDF()">Download PDF</button>
</div>

