<div class="mat-elevation-z8">

  <!--Selection des modes-->
  <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
    <mat-button-toggle (click)="ViewMode()">View</mat-button-toggle>
    <mat-button-toggle (click)="DeleteMode()">Delete</mat-button-toggle>
  </mat-button-toggle-group>

  <!--Filtering-->
  <mat-form-field>
    <input matInput (keyup)="applyFilter($any($event.target).value)" placeholder="Filter">
  </mat-form-field>



  <table mat-table class="full-width-table" [dataSource]="dataSource" matSort multiTemplateDataRows
    aria-label="Elements">


    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
        <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">

          <app-ingredient-form [ingredient]="element" (update)="updateIngredient($event)"></app-ingredient-form>



        </div>
      </td>
    </ng-container>


    <!-- Code Column -->
    <ng-container matColumnDef="CODE">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Code</th>
      <td mat-cell *matCellDef="let row">{{row.CODE}}</td>
    </ng-container>

    <!-- Libbele Column -->
    <ng-container matColumnDef="LIBELLE">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Libelle</th>
      <td mat-cell *matCellDef="let row">{{row.LIBELLE}}</td>
    </ng-container>

    <!-- Prix Unitaire Column -->
    <ng-container matColumnDef="PRIX_UNITAIRE">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Prix unitaire</th>
      <td mat-cell *matCellDef="let row">{{row.PRIX_UNITAIRE}}</td>
    </ng-container>

    <!-- Categorie Column -->
    <ng-container matColumnDef="CATEGORIE">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Catégorie</th>
      <td mat-cell *matCellDef="let row">{{row.CATEGORIE}}</td>
    </ng-container>

    <!-- Unite Column -->
    <ng-container matColumnDef="UNITE">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Unité</th>
      <td mat-cell *matCellDef="let row">{{row.UNITE}}</td>
    </ng-container>

    <!-- Delete -->
    <ng-container matColumnDef="DELETE">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let row">
        <!--Delete-->
        <button mat-mini-fab color="warn" (click)=deleteIngredient(row)>
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>





    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>


    <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="example-element-row"
      [class.example-expanded-row]="expandedElement === element" (click)="this.expand(element)">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>


  <mat-paginator #paginator [length]="dataSource?.data?.length" [pageIndex]="0" [pageSize]="10"
    [pageSizeOptions]="[5, 10, 20, 50]" aria-label="Select page">
  </mat-paginator>
</div>

<button mat-fab color="primary" (click)="showAddForm()">
  <mat-icon>add</mat-icon>
</button>

<div [hidden]="isHide">
  <app-ingredient-form [modeAdd]="true" (update)="addIngredient($event)"></app-ingredient-form>
</div>