<a [routerLink]="['/fiches-techniques/create']">Créer</a>

<!--Filtering-->
<mat-form-field>
  <input
    matInput
    (keyup)="applyFilter($any($event.target).value)"
    placeholder="Filter"
  />
</mat-form-field>

<table
  mat-table
  [dataSource]="dataSource"
  matSort
  multiTemplateDataRows
  class="mat-elevation-z8 demo-table"
>
  <ng-container matColumnDef="intitule">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Intitule</th>
    <td mat-cell *matCellDef="let row">{{ row.intitule }}</td>
  </ng-container>

  <ng-container matColumnDef="categorie">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Catégorie</th>
    <td mat-cell *matCellDef="let row">{{ row.categorie }}</td>
  </ng-container>

  <ng-container matColumnDef="ingredients">
    <th mat-header-cell *matHeaderCellDef>Ingrédients</th>
    <td mat-cell *matCellDef="let row">{{ row.ingredients }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: displayedColumns"
    (click)="navigate(row)"
  ></tr>
</table>
