div {
    margin-left:5%;
    width: 90%;
}

table{
  width:100%;
}

#header{
  margin-top:1%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#header > *{
  flex:1;
}


#header button:hover{
  transform: scale(1.1);
}

#header div{
  display: flex;
  justify-content: flex-end;
}

.mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
  }
  
  .mat-row:hover .mat-cell {
    border-color: currentColor;
  }

mat-form-field{
  margin-right:2%;
}