#tout{
    padding-left:10%;
    padding-right:10%;
}

#entete{
    display: flex;
    justify-content: center;
}
#entete > *{
    margin-right:2%;
    flex-grow: 1;
}
#entete > *:last-child{
    margin-right:0%;
}

#tout > div{
  display:flex;
  justify-content: center;
  width:100%;
}

#tout > div > button{
  width:60%;
}

#tout > div{
  padding-top:1%;
  padding-bottom: 1%;
  border-bottom: 1px solid rgb(141, 141, 141);
}

#tout > div:last-child{
  border-bottom: 0px;
}


