<div id="tout">
    <div id="entete">
        <mat-form-field>
            <mat-label>Nom du plat </mat-label>
            <input matInput type="text" [(ngModel)]="nomPlat" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>Nom du cuisiner </mat-label>
            <input matInput type="text" [(ngModel)]="nomCuisinier" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>Nom de couverts </mat-label>
            <input matInput type="number" min=0 [(ngModel)]="nbCouverts" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Catégorie </mat-label>
          <input matInput type="text" [(ngModel)]="categorie" />
      </mat-form-field>
    </div>
    <div id="etape">
      <table cdkDropList (cdkDropListDropped)="drop($event)" *ngIf="etapes.length>0">
        <tr>
          <th>Etape</th>
          <th>Description</th>
          <th>Ingrédients</th>
          <th>Temps</th>
          <th></th>
        </tr>
        <tr class="example-box" cdkDrag cdkDragLockAxis="y" *ngFor="let etape of etapes; let index=index" >
          <td>{{index+1}}</td>
          <td *ngIf="etape.progression !== undefined">Realiser {{ etape.intitule }}</td>
          <td *ngIf="etape.progression === undefined">{{etape.description}}</td>
          <td *ngIf="etape.ingredients != ''">{{etape.ingredients}}</td>
          <td *ngIf="etape.ingredients == ''">Aucun ingrédient nécessaire</td>
          <td>{{etape.temps}} mins</td>
          <td *ngIf="(this.modifyingStep === undefined && !isAddingStep ) "><button *ngIf="etape.progression === undefined" mat-icon-button color="primary" (click)="modify(index)" >
            <mat-icon>edit</mat-icon>
          </button>
            <button mat-icon-button color="primary" (click)="etapes.splice(index,1)" >
              <mat-icon>delete</mat-icon>
            </button></td>

        </tr>
      </table>
      <div id="textEmpty" *ngIf="etapes.length==0">Veuillez ajouter une étape</div>

    </div>
    <div id="edit">
      <div id="boutonsAjouter" *ngIf="!isAddingStep&&!isAddingFt">
        <button mat-flat-button color="primary" (click)="addingStep()" >Ajouter une étape</button>
        <button mat-flat-button color="primary" (click)="addingFt()">Ajouter une fiche technique</button>
      </div>
      

      <div id="newStep" *ngIf="isAddingStep">
        <button mat-icon-button color="primary" (click)="isAddingStep = false; this.modifyingStep = undefined">
          <mat-icon>
            arrow_back
            </mat-icon>
        </button>
        <app-etape-form (newStepValues)="newStep($event)" (modifiedStepValues)="this.modifyStep($event)" [values]="modifyingStep"></app-etape-form>
        
      </div>

      <div id="newFt" *ngIf="isAddingFt">
        <button mat-icon-button color="primary" (click)="isAddingFt = false; this.modifyingStep = undefined"><mat-icon>
          arrow_back
          </mat-icon></button>
        <mat-form-field class="example-full-width">
          <mat-label>Fiche Technique</mat-label>
          <input type="text"
                 aria-label="Fiche Technique"
                 matInput
                 [formControl]="myControlFt"
                 [matAutocomplete]="auto"
                 [(ngModel)]="newFicheTechnique">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptionsFt | async" [value]="option.intitule">
              {{option.intitule}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        
        <button mat-flat-button color="primary" (click)="addFt()">Ajouter la fiche technique</button>
      </div>

    </div>
    <div>
      <button mat-flat-button color="primary" (click)="create()" >Créer</button>
    </div>
</div>
