#tout{

    width:90%;
    margin-left:4%;
    margin-top:2%;
}

#entete{
    display: flex;
    justify-content: center;
}
#entete > *{
    margin-right:2%;
    flex-grow: 1;
}
#entete > *:last-child{
    margin-right:0%;
}

#tout > div{
  display:flex;
  justify-content: center;
  width:100%;
}

#etape{
  display: block !important;
}

#etape > div{
  text-align: center;
}

#tout > div > button{
  width:60%;
}

#tout > div{
  padding-top:2%;
  padding-bottom: 2%;
  border-bottom: 1px solid rgb(141, 141, 141);
}

#tout > div:last-child{
  border-bottom: 0px;
}

#boutonsAjouter > button:first-child{
  margin-right:10%;
}
#boutonsAjouter > button{
  width:45%;
}

#edit{
  display: block !important;
}




#textEmpty{
  color:red;
  justify-content: center;
}

th{
  background-color:#ccc;
}

table, td, th {
  border: 1px solid black;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  word-wrap:break-word;
}

table > tr > *:last-child{
  width:10%;
}
table > tr > *:nth-child(2){
  width:45%;
}
table > tr > *:nth-child(3){
  width:30%;
}

table > tr > *:nth-child(4){
  width:10%;
}

table > tr > *:first-child{
  width:5%;
}



.example-box, .cdk-drag-preview {
  border: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  cursor: move;
  align-items: center;
  text-align: center;
  background: #fff;
  border-radius: 4px;
  position: relative;
  z-index: 1;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
              0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.example-box:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-preview > *:last-child{
  width:10em;
}
.cdk-drag-preview> *:nth-child(2){
  width:45em;
}
.cdk-drag-preview > *:nth-child(3){
  width:30em;
}

.cdk-drag-preview > *:nth-child(4){
  width:10em;
}

.cdk-drag-preview > *:first-child{
  width:5em;
}

#newStep > button{
  margin-bottom:1%;
}
