<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer color="primary" class="my-custom-style sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Projet AWI</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/fiches-techniques']">Fiches Techniques</a>
      <a mat-list-item [routerLink]="['/ingredients']">Ingrédients</a>
      <a mat-list-item [routerLink]="['/couts']">Couts</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span *ngIf="this.router === '/fiches-techniques'">Fiches Techniques</span>
      <span *ngIf="this.router.includes('/fiches-techniques/') && this.router !== '/fiches-techniques/create' && !this.router.includes('modify')">Fiches Techniques / Détails</span>
      <span *ngIf="this.router.includes('modify')">Fiches Techniques / Modifier</span>
      <span *ngIf="this.router === '/fiches-techniques/create'">Fiches Techniques / Créer</span>
      <span *ngIf="this.router === '/couts'">Coûts</span>
      <span *ngIf="this.router === '/ingredients'">Ingrédients</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
